.dice {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 60px;
}

.dice__container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 70%;
}

.dice__roll-button {
  position: absolute;
  top: 70px;
  color: #fff;
  font-weight: 200;
  font-size: 20px;
  padding: 14px 16px;
  margin-top: 2rem;
  border: none;
  border-radius: 5px;
  background-color: #9e43fb;
  -webkit-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);
  -moz-box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);
  box-shadow: 0px 0px 7px 3px rgba(0,0,0,0.4);
  cursor: pointer;
}

.dice__roll-button:disabled {
  color: #f7f7f7;
  background-color: #cfa0ff;
  cursor: not-allowed;
}

.safariHack {
  opacity: 0.99;
}

@media only screen and (max-width: 375px) {
  .dice__container {
    width: 100%
  }
}
