.die {
  border: 0;
  padding: 0;
  margin: 3px;
  color: #fff;
  -webkit-text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  -moz-text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  text-shadow: 0px 0px 20px rgba(0,0,0,0.5);
  font-size: 4.3rem;
  transition: opacity .2s;
}

.die.locked {
  opacity: 0.6;
}